.regular-customers {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.regular-customers-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18 ;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    }

}

.regular-customers-item {
    width: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}

.regular-customers-list {
    display: flex;
    flex-wrap: wrap ;
    gap: 30px;
    justify-content: center;
    fill: #AFB1B8;
}




.regular-customers-icon {
    display: block;
    content: '';
    width: 100%;
    min-height: 92px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    .regular-customers-link:focus &,
        .regular-customers-link:hover & {
            fill: #2196F3;
            border: 1px solid #2196F3;
        }
}

.regular-customers-link {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    
}

